{
  "presets": [
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-flow-strip-types"
  ],
  "env": {
    "production": {
      "presets": ["es2015"],
      "plugins": ["transform-class-properties"]
    },

    "development": {
      "presets": ["es2015"],
      "plugins": ["transform-class-properties"]
    },

    "development-webpack": {
      "presets": [["es2015", { "modules": false }]],
      "plugins": ["transform-class-properties"]
    },

    "production-webpack": {
      "presets": [["es2015", { "modules": false }]],
      "only": ["app"],
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-class-properties"
      ]
    }
  }
}
