{
  "presets": [
    "react",
    "stage-0"
  ],
  "plugins": [
    "syntax-async-functions",
    "transform-async-to-generator",
    "transform-flow-strip-types"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
