{
  "extends": "foobarhq",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "no-process-env": 2,
    "valid-jsdoc": 0,
    "no-console": 2
  }
}
