{
  "extends": "@foobarhq/eslint-config",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "no-process-env": 2,
    "valid-jsdoc": 0,
    "no-console": 2,
    "no-underscore-dangle": 0
  }
}
