{
  "extends": "@foobarhq/eslint-config",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    // Rules specific to this project
    "import/no-extraneous-dependencies": ["error", {"packageDir": "./"}],
    "valid-jsdoc": 0,
    "no-console": 2,
    "import/order": 0,
    "no-underscore-dangle": 0,

    // https://github.com/gajus/eslint-plugin-flowtype/issues/293
    "flowtype/no-dupe-keys": 0
  }
}
